<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html xmlns:f="http://www.w3.org/1999/xlink">
<head>
    <f:section name="stylesheets">
        <!-- Put your stylesheet inclusions here, they will be included in your website by Fusion -->

        <link rel=stylesheet href="{f:uri.resource(path: 'Styles/main.css', package: 'Js.Sbfw')}">
    </f:section>
    <f:section name="headScripts">
        <!-- Put your scripts inclusions for the head here, they will be included in your website by Fusion -->
    </f:section>
</head>
<body>
<f:section name="body">


    <div id="wrapper" style="text-align: center;">
        <a class="link" href="mailto:mail@joekola.de">
            <h1 class="titel">Schäfer - Büro für Webentwicklung</h1>
            <img src="{f:uri.resource(path: 'Images/schaefer-webentwicklung_tower.svg', package: 'Js.Sbfw')}"
                 alt="Logo: Schäfer" width="350"/>
        </a>

        <div class="narrow">
            <p>
                Schäfer - Büro für Webentwicklung ist TYPO3 Association Community Member
                <br>
                <a href="https://typo3.org/association/" target="_blank">
                    <img src="{f:uri.resource(path: 'Images/TYPO3_Association_Community_Member_364010a2a5.png', package: 'Js.Sbfw')}"
                         alt="TYPO3 Association Community Member" width="210"/>
                </a>
            </p>
        </div>


        {content.main -> f:format.raw()}

    </div>

</f:section>
<f:section name="bodyScripts">
    <!-- Put your scripts inclusions for the end of the body here, they will be included in your website by Fusion -->
</f:section>
</body>
</html>
