@import 'helper/meyer_reset';

// bower:scss
// endbower

@import 'helper/fonts_typekit';
@import 'helper/functions';
@import 'helper/grid';

@import 'variables';

@import 'partials/internal_partials';

@import 'bureau/references';

.wrapper {
  max-width: $boxed-width;
  margin: 0 auto;
  padding: $gutter/2;
  padding-bottom: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  section.content {
    flex: 1;
  }
}

body {
  background: $body-bg;
  font-family: $base-font;
  color: $text-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
