{namespace neos=Neos\Neos\ViewHelpers}
<h1>
{title}
</h1>
<dl>
    <dt>Domain:</dt>
    <dd><a href="{domain}" target="_blank">{domain}</a></dd>

    <dt>cms</dt>
    <dd>{cms}</dd>

    <dt>version</dt>
    <dd>{version}</dd>

    <dt>hoster</dt>
    <dd>{hoster}</dd>

</dl>
<f:if condition="{gdpr}">
    <f:then>
        DSGVO - ready
    </f:then>
    <f:else>
        DSGVO - <b>NOT</b> ready!
    </f:else>
</f:if>

<f:if condition="{agency}">
    <h2>Agentur(en)</h2>

    {agency -> f:format.raw()}
</f:if>

<f:if condition="{contacts -> f:count()} > 0">
    <h2>Kontakt</h2>
    <f:for each="{contacts}" as="c">
        {c -> f:format.raw()}
    </f:for>
</f:if>

<h2>Description</h2>
<div>

    {main -> f:format.raw()}

</div>


<h2>Reference(s)</h2>
<div>

    {references -> f:format.raw()}

</div>
<neos:contentElement.wrap node="{node}">

<h2>Recommendation</h2>
    <p>
        <neos:contentElement.editable property="recommendation" tag="div" />
    </p>

<h2>Recommendation (LT)</h2>
    <p>
    {neos:contentElement.editable(property: 'recommendationLongterm')}
    </p>


<h2>Comment</h2>
<p>
    {neos:contentElement.editable(property: 'comment')}
</p>

</neos:contentElement.wrap>