{namespace neos=Neos\Neos\ViewHelpers}
<body>
<f:section name="body">
    <div class="content__backlink">
        <neos:link.node node="{agency}">
            <i class="fal fa-arrow-left"></i> zur Übersicht
        </neos:link.node>
    </div>

    <h2>{title}</h2>
    <section class="factbox">
        <div class="col">
            <header>
                <h3>
                    <f:translate id="customer.hardware.header" package="Joekolade.Bureau"></f:translate>
                </h3>
            </header>
            <section class="customerbox customerbox--small">
                <div class="customerbox__item customerbox__item--domain">
                    <i class="fal fa-globe"></i>
                    <f:if condition="{cms-adminurl}">
                        <f:then>
                            <f:link.external uri="{domain}" target="_blank" title="{f:translate(id: 'title.gotofrontend', package:'Joekolade.Bureau')}">
                                {domain}
                            </f:link.external>
                            [<f:link.external uri="{domain}/{cms-adminurl}" target="_blank" title="{f:translate(id: 'title.gotobackend', package:'Joekolade.Bureau')}"><i class="fal fa-cogs"></i></f:link.external>]
                        </f:then>
                        <f:else>
                            <f:link.external uri="{domain}" target="_blank" title="{f:translate(id: 'title.gotofrontend', package:'Joekolade.Bureau')}">
                                {domain}
                            </f:link.external>
                        </f:else>
                    </f:if>
                </div>
                <div class="customerbox__item customerbox__item--cms customerbox__item--cms--pached_{cms-patched}">
                    <i class="fab fa-{cms-icon}"></i>
                    {cms-title}<f:if condition="{version}"> ({version})</f:if>
                    <f:if condition="{cms-releasenotes}"><f:link.external uri="{cms-releasenotes}" title="{f:translate(id: 'properties.releasenotes', source:'NodeTypes/Cms', package:'Joekolade.Bureau')}" target="_blank"><i class="fal fa-file"></i></f:link.external></f:if>
                </div>
                <div class="customerbox__item customerbox__item--hoster">
                    <i class="fal fa-home"></i>
                    {hoster}
                </div>
                <div class="customerbox__item customerbox__item--gdpr">
                    <f:if condition="{gdpr}">
                        <f:then>
                            <i class="fal fa-shield-check"></i>
                            <f:translate id="properties.gdpr.1" source="NodeTypes/Customer" package="Joekolade.Bureau"></f:translate>
                        </f:then>
                        <f:else>
                            <i class="fal fa-bug"></i>
                            <f:translate id="properties.gdpr.0" source="NodeTypes/Customer" package="Joekolade.Bureau"></f:translate>
                        </f:else>
                    </f:if>
                </div>
            </section>
        </div>
        <div class="col">
            <header>
                <h3><f:translate id="properties.description" source="NodeTypes/Customer" package="Joekolade.Bureau"></f:translate></h3>
            </header>
            <neos:contentElement.wrap node="{node}">
            {main -> f:format.raw()}
            </neos:contentElement.wrap>

        </div>
    </section>

    <section class="box box--bg">
        <header>
            <h3>
                <f:translate id="customer.recommendation.header" package="Joekolade.Bureau"></f:translate>
            </h3>
        </header>
        <div class="recommendationbox__content">
            <neos:contentElement.wrap node="{node}">
            <p>
                <neos:contentElement.editable property="recommendation" tag="div"/>
            </p>
            </neos:contentElement.wrap>
        </div>
    </section>
    <section class="box">
        <header>
            <h3>
                <f:translate id="properties.comment" source="NodeTypes/Customer" package="Joekolade.Bureau"></f:translate>
            </h3>
        </header>
        <neos:contentElement.wrap node="{node}">
        <div class="recommendationbox__content">
            {neos:contentElement.editable(property: 'comment')}
        </div>
        </neos:contentElement.wrap>
    </section>

<f:comment>
        <h2>
            <f:translate id="customer.recommendationLongterm.header" package="Joekolade.Bureau"></f:translate>
        </h2>
        <p>
            {neos:contentElement.editable(property: 'recommendationLongterm')}
        </p>
</f:comment>


</f:section>
</body>