
.joekolade-bureau-referencelist {

}

.js-sbfw-reference {
  figure img {
    padding: 3px;
    border-radius: 2px;
    background: #444e4c;
    max-width: 100%;
    box-shadow: 0 0.7em 0.7em 0.35em rgba(0, 0, 0, 0.1);
  }
}